.ddorg__carbon-field-array-add {
    margin-top: 16px;
}

.ddorg__carbon-field-array-add-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.ddorg__carbon-field-array-remove {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ddorg__carbon-field-array-form-group {
    .bx--form__requirements {
        color: #da1e28;
    }
}
