.ddorg__demo-formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.ddorg__demo-formGroup input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ddorg__demo-formGroup p {
  margin-top: 0;
  margin-bottom: 4px;
}
.ddorg__demo-formGroup.required label::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
.ddorg__demo-formGroup.required p.error-text {
  color: orangered;
}
