.ddorg__blueprint_mapper--dls-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-height: 250px;
}

.ddorg__blueprint_mapper--dls-button-group {
    justify-content: center;
}

.ddorg__blueprint_mapper--dls-menu {
    height: 80%;
    overflow: auto;
}

@media (max-width: 768px) {
    .ddorg__blueprint_mapper--dls-wrapper {
        flex-direction: column;
    }
}
