.ddorg__blueprint_mapper--field-array-add-container {
    display: flex;
    flex-flow: row-reverse;
    margin-bottom: 15px;
}

.ddorg__blueprint_mapper--field-array-remove {
    margin-bottom: 15px;
}
