.ddorg__pf4-component-mapper__dual-list-select-toolbar {
    height: auto !important;
}

.ddorg__pf4-component-mapper__dual-list-select {
    height: 300px !important;
    background: none !important;
}

.ddorg__pf4-component-mapper__dual-list-select-option {
    height: 100% !important;
}
