body {
    margin: 0;
    background-color: #efefef;
}

a {
    text-decoration: none;
}

.app-container {
    display: flex;
    margin: 8;
    margin-top: 64px;
    .grow-1 {
        flex-grow: 1
    }
}