.pf-v5-c-select__menu.ddorg__pf4-component-mapper__select-menu-portal {
  margin-top: 2px;
  position: relative;
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  left: 1px;
  border-bottom: 1px solid #ddd;
}
