@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ddorg__pf4-component-mapper__select-loading-icon {
  animation: spin 2s linear infinite;
}

.pf-v5-c-select_toggle-wrapper.ddorg__pf4-component-mapper__select-toggle-wrapper {
  flex: 1;
  display: flex;
}

.ddorg__pf4-component-mapper__select-toggle.pf-m-typeahead {
  padding-left: 0;
}
