@import "~@patternfly/react-styles/css/components/Select/select.css";
@import "~@patternfly/react-styles/css/components/Chip/chip.css";
@import "~@patternfly/react-styles/css/components/ChipGroup/chip-group.css";
@import "~@patternfly/react-styles/css/components/Divider/divider.css";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ddorg__pf4-component-mapper__select-loading-icon {
  animation: spin 2s linear infinite;
}

.ddorg_pf4-component-mapper__select-portal-menu.ddorg_pf4-component-mapper__select-portal-menu-searchable {
  &::before {
    position: absolute;
    bottom: -4px;
    height: 4px;
    left: 0;
    right: 0;
    background: white;
    border-bottom-width: var(--pf-global--BorderWidth--sm);
    border-bottom-color: var(--pf-global--BorderColor--dark-100);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    content: "";
  }
}
