@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ddorg__pf4-component-mapper__select {
  &.single-select {
    .ddorg__pf4-component-mapper__select__placeholder {
      margin-left: 8px;
    }
    .ddorg__pf4-component-mapper__select__input {
      margin-left: 6px;
    }
  }
  .spinning {
    animation: spin 2s linear infinite;
  }
  .ddorg__pf4-component-mapper__select__control {
      box-shadow: none;
      cursor: pointer;
      border-radius: 0;
      border: 0;
      &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          border: var(--pf-global--BorderWidth--sm) solid;
          border-color: var(--pf-global--Color--light-200);
          border-bottom-color: var(--pf-global--Color--dark-100);
      }
      &:hover::before {

           border-bottom-color: var(--pf-global--active-color--100);
      }

       &.ddorg__pf4-component-mapper__select__control--is-focused::before {
          border-bottom-width: var(--pf-global--BorderWidth--md);
          border-bottom-color: var(--pf-global--active-color--100);
      }
      .ddorg__pf4-component-mapper__select__indicators {
          padding-right: 6px;
          z-index: 1;
          >button.pf-c-button.pf-m-plain {
            display: flex;
            justify-content: center;
          }
          .ddorg__pf4-component-mapper__select__indicator-separator {
              display: none;
          }
          svg:first-child {
              fill: var(--pf-global--Color--400);

               &:hover {
                  fill: var(--pf-global--Color--dark-100);
              }
          }
      }
  }
}

/**
* Move menu styles out of select scope to enable using it while using portaling for context menu
* !important is used to override global styles comming from react-select
* z-index of menu has to be > 400 to show over pf4-modal
*/

.ddorg__pf4-component-mapper__select-toggle-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}